
@model IEnumerable<SalesApp.Models.SaleViewModel>


@{
    ViewData["Title"] = "Client";
}
<div class="page-title">
    <div class="title_left">
        <h3>Sales </h3>
    </div>
    <a class="btn btn-primary" asp-action="Include">New Sale</a>


</div>


@await Component.InvokeAsync("FilterSale")



<div class="x_panel">
    <div class="x_title">
        <h2>Results</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        @if (!Model.Any())
        {
            <span>No results</span>

        }
        else
        {
            <table class="table ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Customer</th>
                        <th>Product</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var sale in Model)
                    {
                        <tr>
                            <th scope="row">@sale.Id</th>
                            <td>@sale.CustomerName</td>
                            <td>@sale.ProductName</td>
                            <td>  <a class="btn btn-default" href="Sales/@sale.Id"><i class="fa fa-edit"></a></td>
                        </tr>
                    }

                </tbody>
            </table>
        }

        <input type="submit" class="btn btn-primary" value="Add" />

    </div>
</div>
