@model IEnumerable<SalesApp.Models.CustomerViewModel>


@{
    ViewData["Title"] = "Client";
}
<div class="page-title">
    <div class="title_left">
        <h3>Customer </h3>
    </div>
    <a class="btn btn-primary" asp-action="Include">New Customer</a>


</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Filter</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <!-- start form for validation -->
        <form id="demo-form" data-parsley-validate>
            <div class="row">
                <div class="col-md-6">
                    <label for="fullname">Name :</label>
                    <input type="text" class="form-control" name="Name" />
                </div>
                <div class="col-md-6">
                    <label for="email">Email  :</label>
                    <input type="email" class="form-control" name="Email" />

                </div>
            </div>
            <br />
            <input type="submit" class="btn btn-primary" value="Filter" />

        </form>
        <!-- end form for validations -->

    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Results</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        @if (!Model.Any())
        {
            <span>No results</span>

        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var customer in Model)
                    {
                        <tr>
                            <th scope="row">@customer.Id</th>
                            <td>@customer.Name</td>
                            <td>@customer.Email</td>
                            <td>  <a class="btn btn-default" href="Customer/@customer.Id"><i class="fa fa-edit"></a></td>
                        </tr>
                    }

                </tbody>
            </table>
        }


    </div>
</div>
